allennlp==2.4.0
torch==1.8.1
sh==1.13.1
pandas==1.1.0
numpy==1.18.5
anytree==2.8.0
namegenerator==1.0.6
overrides==3.1.0
dill==0.3.2
# zh-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_sm-3.0.0a1/zh_core_web_sm-3.0.0a1.tar.gz
mo-future>=2.48.19205
gdown==3.12.0
jieba
cn2an
sqlparse==0.4.1
rouge